@font-face {
    font-family: 'swym-font';
    src: url('./swym_fonts.woff?ullr2m') format('woff'), url('./swym_fonts.ttf?ullr2m') format('truetype'), url('./swym_fonts.svg?ullr2m#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
.swym-modal-content {
    padding: 0;
    background: white;
    position: relative;
    min-width: 500px;
    max-width: 94%;
   /* Weird issue with flexbox where flex parents parent needs height set */
    max-height: 90%;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-left: 0px;
}
.swym-add-wishlist-selector {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.swym-button.swym-add-to-watchlist-view-product:not(.swym-loaded) {
    display: none;
}
.swym-button.swym-add-to-wishlist-view-product:not(.swym-loaded) {
    display: none;
}
.swym-add-to-list-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    border-width: 0.637151px;
    border-style: solid;
    padding: 11px 32px;
    display: block;
    cursor: pointer;
}
.swym-add-to-list-btn.swym-disabled {
    cursor: auto;
    background: #a8a8a9;
    pointer-events: none;
}
.swym-create-list-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    border-width: 0.637151px;
    border-style: solid;
    padding: 11px 20px;
    display: block;
    cursor: pointer;
    margin-left: 20px;
}
.swym-create-list-btn.swym-disabled {
    cursor: auto;
    background: #a8a8a9;
    pointer-events: none;
}
.swym-bg-2 {
    background: #434655 !important;
}
.swym-color-4 {
    color: white;
}
.swym-new-wishlist-btn {
    text-align: center;
    padding: 11px 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}
.swym-color-2 {
    color: #42445c;
}
.swym-color-2 {
    color: #42445c;
    border: 1px soild #434655 !important;
}
.swym-border-color-1 {
    border: 1px soild #434655;
}
.swym-action-btns {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    padding-left: 60px;
}
.swym-action-btns .swym-add-btn {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 40px;
    padding-left: 60px;
}
.width-36 {
    width: 36rem;
}
.swym-product-image {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: inline-block;
    margin-right: 14px;
    overflow: hidden;
    flex-shrink: 0;
}
.swym-product-image img {
    width: 100%;
}
.swym-product-name {
    line-height: 30px;
    color: #434655;
    font-weight: bold;
    font-size: 18px;
}
.swym-heading, .swym-label {
    font-size: 100%;
    font: inherit;
    font-family: "HelveticaNeue", Helvetica, Verdana, Arial, sans-serif;
    line-height: 1.4em;
    vertical-align: baseline;
    box-sizing: border-box;
    border: 0;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: none;
    text-align: left;
}
.swym-heading-1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 22px;
    color: #434655;
}
.swym-product-title {
    display: flex;
    padding: 25px 50px 25px;
    position: relative;
    box-sizing: border-box;
    border-bottom: 3px solid #828282;
    margin-left: 50px;
    padding-left: 0px;
    padding-top: 0px;
}
.swym-wishlist-items-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    margin: 22px 0 15px;
    color: #828282;
}
.swym-wishlist-items {
    overflow: auto;
    padding: 0 50px;
    padding-right: 10px;
    height: auto;
    max-height: 250px;
    overflow-y: scroll;
}
.swym-title {
    overflow: hidden;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 10px;
    font-size: 24px;
}
.swym-wishlist-item {
    color: #42445c;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    padding: 10px 0px 10px 0;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    width: 100%;
}
.swym-wishlist-item:last-child {
    border: 0;
}
.swym-wishlist-item:hover {
    cursor: pointer;
}
.swym-wishlist-item .swym-wishlist-image {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: inline-block;
    margin-right: 14px;
    overflow: hidden;
    flex-shrink: 0;
}
.swym-wishlist-item .swym-wishlist-image img {
    width: 100%;
}
.swym-wishlist-item .swym-wishlist-text {
    display: flex;
    flex-direction: column;
    min-width: 0;
}
.swym-wishlist-item .swym-created-by {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.05em;
    color: #f8f8f8;
    background: #a8a8a9;
    padding: 1px 6px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 6px;
    max-width: 100%;
}
.swym-wishlist-item .swym-created-by .swym-emphasis {
    font-weight: bold;
}
.swym-wishlist-item .swym-wishlist-badge {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: inline-block;
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    flex-shrink: 0;
}
.swym-value {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #434655;
}
.swym-wishlist-name {
    font-size: 14px;
    line-height: 16px;
    max-width: 170px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.swym-wishlist-name .swym-wishlist-name-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: underline;
}
.swym-icon {
    display: initial;
}
.swym-icon::before {
   /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'swym-font' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
   /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.swym-wishlist-text {
    display: flex;
    flex-direction: column;
    min-width: 0;
}
.swym-icon::before {
    content: "î¤Œ";
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: calc(50% - 5px);
    font-size: 11px;
}
.swym-title-new {
    padding-top: 0px;
    padding-left: 0px;
}
.swym-border-button {
    border: 1px soild #434655;
}
.swym-new-wishlist-item {
    padding: 15px 30px 15px 30px;
    position: relative;
    border-bottom: 1px solid #cacbcf;
    cursor: pointer;
    width: 100%;
    margin-left: 20px;
}
.swym-new-wishlist-item .swym-new-wishlist-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 0px;
}
.swym-new-wishlist-item .swym-new-wishlist-name {
    background: #fff;
    flex-grow: 1;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #434655;
    border: 1px solid #434655;
    letter-spacing: 0.05em;
    padding: 12px 14px;
    width: 100%;
}
.swym-new-wishlist-item .swym-new-wishlist-name:focus {
    border: 1px solid #dc3b1a;
    padding: 12px 14px;
}
.swym-new-wishlist-item .error-msg {
    display: block;
    padding: 5px;
}
.swym-new-wishlist-item .swym-icon {
    position: absolute;
    top: 24px;
    right: 0;
}
.swym-new-wishlist-item .swym-icon::before {
    content: "\e908";
    font-size: 15px;
}
.swym-new-wishlist-item.swym-selected .swym-icon::before {
    content: "\e907";
}
.swym-new-wishlist-item:last-child {
    border: 0;
}
.swym-justify-wishlist-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.error-msg {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: #CC0000;
    font-style: italic;
    padding: 5px;
}

.swym-input-has-error {
    border: 1px solid #CC0000 !important;
}

/* @media screen and (max-width: 900px) {
    .empty-add-wishlist-container {
        background: url(../../assets/empty_add_to_wishlist_mobile.png) no-repeat;
        background-size: 100%;
        height: 400px;
        width: 335px;
        margin: auto;
   }
    .swym-add-wishlist-container {
        width: 100%;
        overflow: hidden;
   }
    .swym-product-title {
        padding: 30px 35px 20px 25px;
   }
    .swym-main-label {
        padding: 10px 25px 10px;
   }
    .swym-wishlist-options {
        padding: 0 0;
   }
    .swym-wishlist-option {
        padding: 10px 25px;
   }
    .swym-wishlist-option.swym-option-selectors .swym-selectors-content {
        flex-wrap: wrap;
        align-items: flex-start;
   }
    .swym-wishlist-option.swym-option-selectors .swym-selectors-content .swym-wishlist-variant-select {
        padding: 0 5px 10px 0;
    }
} */

@media screen and (max-width: 500px) {
    .swym-responsive{
        width:450px ;
    }
    .swym-modal-content{
        min-width: auto;
    }
    .swym-product-title{
        width: 450px;
        margin-left: 20px;
    }
    .swym-wishlist-items{
        padding-right: 10px;
    }

    .swym-action-btns{
        padding: 20px 0px;
        padding-left: 20px;
        display: block !important;
    }
    .swym-add-to-list-btn{
        padding: 11px 20px;
        margin: 10px !important;
        width: 100% !important;
    }
    .swym-new-wishlist-btn{
        padding: 11px 20px;
        margin: 10px !important;
        width: 100% !important;
    }
}

@media screen and (max-width: 450px) {
    .swym-responsive{
        width:400px ;
    }
    .swym-modal-content{
        min-width: auto;
    }
    .swym-product-title{
        width: 400px;
        margin-left: 10px;
    }
    .swym-new-wishlist-item{
        margin-left: 10px;
    }
    .swym-action-btns{
        padding: 20px 0px;
        padding-left: 20px;
        display: block !important;
    }
    .swym-add-to-list-btn{
        padding: 11px 10px;
        margin: 10px !important;
        width: 100% !important;
    }
    .swym-new-wishlist-btn{
        padding: 11px 10px;
        margin: 10px !important;
        width: 100% !important;
    }
}

@media screen and (max-width: 400px) {
    .swym-responsive{
        width:350px ;
    }
    .swym-modal-content{
        min-width: auto;
        max-width: 100%;
    }
    .swym-product-title{
        width: 350px;
        margin-left: 5px;
    }
    .swym-new-wishlist-item{
        margin-left: 0px;
        padding: 0 30px;
        padding-top: 15px;
    }
    .swym-new-wishlist-item .swym-new-wishlist-input-container {
        padding-right: 0px;
    }
    .swym-action-btns{
        padding: 20px 0px;
        padding-left: 5px;
        padding-right: 15px;
        display: block !important;
}
    .swym-add-to-list-btn{
        padding: 11px 10px;
        margin: 10px !important;
        width: 100% !important;
    }
    .swym-new-wishlist-btn{
        padding: 11px 10px;
        margin: 10px !important;
        width: 100%!important;
    }
    .swym-wishlist-items{
        padding: 0 30px;
    }
}


/* Share modal CSS */
.swym-input-label {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: #828282;
    margin-bottom: 5px;
}

.swym-share-wishlist-email,
.swym-share-wishlist-name {
    font-size: 14px;
    letter-spacing: 0.05em;
    width: 100%;
}

.swym-share-wishlist-modal-dialog {
    width: 100%;
    padding: 30px 40px;
    padding-top: 0;
    border-bottom: 1px solid #828282;
}

.swym-input-label{
    padding-bottom: 20px;
}

 .swym-share-wishlist-separator {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px;
    background: #C4C4C4;
 }

.swym-share-wishlist-email-btn {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: 11px 30px;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

.swym-share-email-button-container {
    display: flex;
    justify-content:center;
}

.swym-disabled {
    cursor: auto;
    background: #a8a8a9 !important;
    pointer-events: none;
}