.social-count-section{
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    background: #fff;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 500;
}

.social-count-section__key-text{

}

.social-count-section__count{

}