.social-count-section{
    display: flex;
    justify-content: center;
    gap: 5px;
    background: #42445c;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 500;
}

.social-count-section__count{
    color: #71c9ff;
}