.social-count-section{
    display: flex;
    justify-content: center;
    gap: 5px;
    background: #9b5c5c;
    color: #c7bebe;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 500;
}

.social-count-section__key-text{

}

.social-count-section__count{
    color: #b02121;
}